<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- Center Logo -->
    <a class="navbar-logo-center page-scroll" href="#portfolio">
      <img src="img/logo.png" alt="RZ Logo">
    </a>

    <!-- Brand + Mobile Toggle -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Left Name -->
      <a class="navbar-brand" href="#page-top">
        {{ site.title }}
      </a>
    </div>

    <!-- Right-side Links -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li class="page-scroll">
          <a href="#portfolio">Portfolio</a>
        </li>

        <li class="page-scroll">
          <a href="#about">About</a>
        </li>

        <li class="page-scroll">
          <a href="#contact">Contact</a>
        </li>

        <!-- Resume LAST -->
        <li class="nav-resume">
          <a href="resume.pdf" target="_blank" rel="noopener">
            Resume
          </a>
        </li>

      </ul>

    </div>

  </div>
</nav>
